*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
i{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    margin: 0;
    padding: 0;
}

/* <!-- Header html Start  --> */
header{
    background-color: #0872b9;
    padding-top: 10px;
}
.header_menu ul{
    float: right;
}
.header_menu ul li{
    float: left;
    padding: 0 25px;
}
.header_menu ul li a{
    color: #e7e7e7 ;
    font-size: 14px;
}
.header_menu ul li a:hover{
    color: #353535;
    transition: all linear .3s;
}
.welcome p{
    font-size: 14px;
    color: #e7e7e7;
    font-family: 'Open Sans', sans-serif;    
}
/* <!-- Header html End  --> */

/* <!-- Navigation part Start --> */

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover{
    color: #0872b9;
}

/* <!-- Navigation part End --> */

/* <!-- Banner part start --> */
#banner{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_overlay{
    padding: 88px 0;
    background-color: rgb(0,0,0,.6);
}
.banner_content{
    text-align: right;
    color:  #e7e7e7;
}   
.banner_content h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;  
    font-weight: 400;
    text-transform: uppercase;
}  
.banner_content h4{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.banner_content p{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    padding-top: 28px;
    padding-bottom: 30px;
    text-align: right;
}
.banner_content a{
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500px;
    padding: 9px 30px;
    color:  #e7e7e7;
    border: 2px solid white;
    margin-left: 20px;
    text-transform: uppercase;
}
.banner_content a:hover{
    color:  #e7e7e7;
    background-color:#0872b9;
    border: 2px solid #0872b9;
    transition: all linear .3s;
}

/* <!-- Banner part End --> */

/* About Part Start */
.common_heading h4{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
        
}
.common_heading h4:after{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 46.4%;
    height: 2px;
    width: 38px;
    background-color: #0872b9;
}
.common_heading h4:before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 49.7%;
    height: 2px;
    width: 6px;
    background-color: #0872b9;
}

.common_heading h4 span:after{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 50.7%;
    height: 2px;
    width: 3px;
    background-color: #0872b9;
}
.common_heading h4 span:before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 51.4%;
    height: 2px;
    width: 2px;
    background-color: #0872b9;
}
.about_text{
    margin: 44px 0;
}
.about_text p:first-child{
    padding-bottom: 40px;
    padding-top: 20px;
}
.about_text p{
    line-height: 30px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;

}

/* About Part End */

/* Our Services Part Start */

.ser_main{
    position: relative;
    margin-top: 40px;
}
.ser_main:hover .ser_icon-main1,
.ser_main:hover .ser_icon{
   background-color: #5bc5f4;
}
.ser_main:hover .ser_1_img img{
    box-shadow: 1px 1px 10px black;
}
.ser_icon-main1{   
    width: 105px;
    height: 105px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -23%;
    left: 37.3%;

}
.ser_icon{
    width: 95px;
    height: 95px;
    background-color: #f1f1f1;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ser_img_main{
    position: relative;
}
.ser_text{
    align-items: center;
    position: absolute;
    bottom: 21%;
    left: 25%;
}
.ser_text h4{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.ser_text p{
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;   
    padding-bottom: 20px;

}

/* Our Services Part End */

/* Our_Portfolio Part Start */

/* for small size */
.port_image1{
    background: url(../images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.port_image3{
    background: url(../images/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.port_image6{
    background: url(../images/img6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 27px;
}
.port_image8{
    background: url(../images/img8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 27px;
}
.port_image1_3_overlay{
    height: 220px;
    background-color: rgb(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all linear .3s;
}
.port_image1_3_overlay .s1_img{
    height: 60px;
    width: 60px;
    background-color: #5bc5f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port_image1:hover .port_image1_3_overlay,
.port_image3:hover .port_image1_3_overlay,
.port_image6:hover .port_image1_3_overlay,
.port_image8:hover .port_image1_3_overlay
{
    visibility: visible;
    transition: all linear .3s;
}
/* for small size */
.port_image2{
    background: url(../images/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.port_image4{
    background: url(../images/img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.port_image5{
    background: url(../images/img5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}
.port_image7{
    background: url(../images/img7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}
.port_image1_3_overlay2{
    height: 300px;
    background-color: rgb(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all linear .3s;
}
.port_image1_3_overlay2 .s1_img{
    height: 60px;
    width: 60px;
    background-color: #5bc5f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port_image2:hover .port_image1_3_overlay2,
.port_image4:hover .port_image1_3_overlay2,
.port_image5:hover .port_image1_3_overlay2,
.port_image7:hover .port_image1_3_overlay2
{
    visibility: visible;
    transition: all linear .3s;
}
/* for small size */
/* Our_Portfolio Part End */

/* team_image css start */
.team_image1{
    background: url(../images/p1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}
.team_image2{
    background: url(../images/p2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}
.team_image3{
    background: url(../images/p4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}
.team_image4{
    background: url(../images/p4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}
.image_overlay{
    height: 270px;
    width: 80px;
    background-color: rgb(0,0,0,.6);
    float: right;      
}
.Team_menu {
     padding: 30px 0;
} 
.Team_menu ul li{
    padding: 10px;
    
}
.Team_menu ul li a{
    background-color:transparent;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px 20px;

}

/* team_image  css  End */